<form action='/views' method = 'POST'>
    <div>
        <label for="user_id">Name:</label>
        <select required name='user_id'>
          <option value=''>Select A User</option>
        {{#each users}}
          <option value='{{user_id}}'>{{first_name}} {{last_name}}</option>
        {{/each}}
    </select>
    </div>
    <div>
        <label for="title">Movie Title:</label>
        <select required name='movie_id'>
          <option value=''>Select A Movie</option>
        {{#each movies}}
          <option value='{{movie_id}}'>{{title}}</option>
        {{/each}}
        </select>
    </div>
    <div>
      <label for="rating">Rating:</label>
      <select required name='rating'>
        <option value="null">No Rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <div class="button">
  <button type="submit">Submit</button>
</div>
</form>